// Elements
@use "@elements/e-icon" as *;
@use "@elements/e-checkmark" as *;
@use "@elements/e-pill-save" as *;
@use "@elements/e-pill-badge" as *;

// Components
@use "@components/c-swiper" as *;
@use "@components/c-faq-accordion" as *;
@use "@components/c-rating" as *;
@use "@components/c-order-button" as *;
@use "@components/c-certified-box" as *;
@use "@components/c-next-batch" as *;

.ui-guide {
    padding: 30px 0 50vh;
}

.nav-link {
    padding: 10px 20px;
    font-size: 22px;
}

.tab-pane {
    padding: 20px;
    font-size: 20px;
}

.icons-list {
    max-width: 1000px;
    columns: 3;

    li {
        padding-bottom: 10px;
    }

    .e-icon {
        font-size: 20px;
    }
}


#elements {
    &.show {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
}
