@use "@root/mixins" as *;
@use "@components/c-swiper" as *;

.footer-benefits{
    $root: &;

    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f7;

    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include sm {
            align-items: center;
            text-align: center;
        }

        .e-icon {
            font-size: 40px;
        }

        .e-icon-benefits-restart {
            width: 40px;
            height: 40px;
            font-size: 33px;

            &::before {
                vertical-align: middle;
            }
        }

        h6 {
            margin-bottom: 0;
            font-family: inherit;
            font-weight: 500;
        }

        p {
            max-width: 280px;
        }
    }
}
