.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-proven:before{
  content:"\e932";
}

.e-icon-pay-later:before{
  content:"\e933";
}

.e-icon-reviewed:before{
  content:"\e934";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.e-pill-badge{
  display:flex;
  gap:10px;
  align-items:center;
  width:-webkit-max-content;
  width:-moz-max-content;
  width:max-content;
  padding:10px 20px;
  color:#8b8c8e;
  font-size:18px;
  font-weight:500;
  letter-spacing:.32px;
  text-transform:capitalize;
  border-radius:30px;
  background:hsl(from currentcolor h s l/8%);
}
.e-pill-badge .e-checkmark{
  font-size:20px;
}
.e-pill-badge .e-icon-checkmark{
  font-size:.6em;
}
.e-pill-badge--sm,.e-pill-badge--small{
  padding:4px 12px;
  font-size:16px;
  letter-spacing:normal;
}
.e-pill-badge--xs{
  gap:6px;
  padding:2px 12px;
  font-size:16px;
  letter-spacing:normal;
}

.e-rating-stars{
  position:relative;
  display:inline-block;
  line-height:1;
  letter-spacing:.135em;
}
.e-rating-stars:after,.e-rating-stars:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  white-space:nowrap;
  vertical-align:top;
  content:"\e921\e921\e921\e921\e921";
}
.e-rating-stars:before{
  color:#dfe0e0;
}
.e-rating-stars:after{
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  width:calc(var(--rating) / 5 * 100%);
  color:#91baec;
}

.e-price{
  display:inline-flex;
}
.e-price__current.highlight-price{
  color:var(--discount-color);
}
.e-price__current.savings-price{
  color:#0fa847;
}
.e-price__main{
  display:flex;
  gap:8px;
}
.e-price__old{
  color:#8b8c8e;
  text-decoration:line-through;
}

.e-pay-options{
  display:flex;
  flex-wrap:wrap;
  gap:4px;
  color:#757677;
  font-size:14px;
  line-height:1;
}
.e-pay-options ul{
  display:flex;
  gap:6px;
  align-self:center;
  justify-content:center;
  line-height:1;
}
.e-pay-options img{
  max-width:100%;
  height:auto;
  vertical-align:top;
}

.e-pill-save{
  display:inline-block;
  padding:.15em .6em;
  color:#fff;
  font-weight:600;
  line-height:1;
  text-transform:uppercase;
  border-radius:100px;
  background:var(--discount-color, #212428);
}

.c-bundle-card{
  position:relative;
  border:1px solid #dfe0e0;
  border-radius:10px;
}
.c-bundle-card__discount{
  position:absolute;
  top:10px;
  right:10px;
  font-size:20px;
}
.c-bundle-card__picture{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-bundle-card__content{
  padding:16px;
}
.c-bundle-card__details{
  display:flex;
  flex-direction:column;
  gap:12px;
  margin-bottom:24px;
}
.c-bundle-card__rating{
  display:flex;
  gap:8px;
  align-items:center;
  font-size:16px;
  line-height:1;
}
.c-bundle-card__rating small{
  font-size:max(.875em, 12px);
}
.c-bundle-card__name{
  font-size:20px;
  line-height:1.2;
}
.c-bundle-card__price{
  font-size:20px;
  line-height:1;
}
.c-bundle-card__features{
  display:flex;
  flex-wrap:wrap;
  gap:2px 6px;
  align-items:center;
}
.c-bundle-card__features .e-pill-badge{
  color:#227d5f;
}
.c-bundle-card__button{
  display:flex;
  flex-direction:column;
  gap:10px;
}
.c-bundle-card__button .btn{
  width:100%;
  padding-right:20px;
  padding-left:20px;
}
.c-bundle-card__button .e-pay-options{
  flex-direction:column;
  align-items:center;
  width:100%;
}

.c-swiper{
  overflow:hidden;
  margin-right:-16px;
  margin-left:-16px;
  padding-right:16px;
  padding-left:16px;
}
.c-swiper .swiper-slide picture[data-url],.c-swiper .swiper-slide picture[data-video-id]{
  cursor:pointer;
}
.c-swiper .swiper-slide img{
  width:100%;
  height:auto;
  vertical-align:top;
}
.c-swiper-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  margin-top:30px;
}
.c-swiper-nav-disabled .c-swiper-nav{
  display:none;
}
.c-swiper-pagination{
  display:flex;
  gap:10px;
  width:auto;
}
.c-swiper-thumbs-nav{
  display:flex;
  gap:20px;
  align-items:center;
  justify-content:center;
  width:auto;
}
.c-swiper-thumbs-nav .swiper-slide{
  overflow:hidden;
  border-radius:5px;
  opacity:.5;
  transition:opacity .2s linear;
}
.c-swiper-thumbs-nav .swiper-slide.swiper-slide-thumb-active{
  border:1px solid #212428;
  opacity:1;
}
.c-swiper-button-next,.c-swiper-button-prev{
  display:flex;
  flex:0 0 40px;
  align-items:center;
  justify-content:center;
  height:40px;
  color:#212428;
  font-size:12px;
  border:1px solid;
  border-radius:50px;
  background:#fff;
  cursor:pointer;
  transition:.3s;
}
.c-swiper-button-next:after,.c-swiper-button-prev:after{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
  content:"\e900";
}
.c-swiper-button-next:hover,.c-swiper-button-prev:hover{
  border-color:#c8e6dc;
  background:#c8e6dc;
}
.c-swiper-button-next.swiper-button-disabled,.c-swiper-button-prev.swiper-button-disabled{
  color:#8b8c8e;
  pointer-events:none;
  opacity:.3;
}
.c-swiper-button-prev:after{
  transform:rotate(-180deg);
}

.c-dialog{
  overflow:auto;
  max-width:none;
  padding:0;
  border:0;
}
.c-dialog::backdrop{
  background:#212428;
  opacity:.6;
}
.c-dialog__message{
  display:flex;
  flex:none;
  align-items:center;
  height:var(--height-bar);
  padding:2px 24px;
  font-size:14px;
  line-height:1.1;
  background:#f6f6f7;
}
.c-dialog__content{
  padding:24px;
}
.c-dialog__close{
  position:absolute;
  top:0;
  right:0;
  padding:8px;
  font-size:18px;
  line-height:1;
  border:0;
  border-radius:30px;
  background:none;
  transition:all .2s linear;
}
.c-dialog__close:hover{
  color:#fff;
  background:#212428;
}
.c-dialog__close .e-icon{
  vertical-align:top;
}
.c-dialog--column{
  width:min(450px, 100%);
  height:100vh;
  max-height:none;
  margin:0 0 0 auto;
}
.c-dialog--column .c-dialog__close{
  top:calc(var(--height-bar) + 22px);
  right:14px;
}

.offer-bundle{
  padding-bottom:60px;
}
.offer-bundle__content{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  gap:28px;
}
.offer-bundle__category{
  position:relative;
  display:flex;
  flex-direction:column;
  justify-content:flex-end;
  overflow:hidden;
  padding:16px;
  border-radius:10px;
}
.offer-bundle__category img{
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
}
.offer-bundle__category h3{
  color:#fff;
  font-family:inherit;
  font-weight:500;
  line-height:1.2;
  text-align:center;
}
.offer-bundle__item-modal .c-dialog{
  overflow:hidden scroll;
  max-width:328px;
  border-radius:5px;
}
.offer-bundle__item-modal .c-dialog::backdrop{
  background:#000;
  opacity:.5;
}
.offer-bundle__item-modal .modal-dialog{
  position:relative;
  max-width:328px;
  margin-right:auto;
  margin-left:auto;
}
.offer-bundle__item-modal .modal-content{
  padding:16px;
}
.offer-bundle__item-modal .btn-close{
  position:absolute;
  top:0;
  right:0;
  z-index:10;
  padding:12px;
  border-radius:100px;
  background:#fff;
}
.offer-bundle__item-modal .btn-close img{
  width:24px;
  height:auto;
  vertical-align:top;
}
.offer-bundle__item-modal .bef_price{
  color:#8b8c8e;
}
.offer-bundle__item-modal .reg-price{
  display:block;
  color:#8b8c8e;
}
.offer-bundle__item-modal .nav-link{
  color:inherit;
}
.offer-bundle__item-modal .nav-link:hover{
  border-color:transparent;
}
.offer-bundle__item-modal .nav-link.active{
  font-weight:600;
  border-color:transparent;
  border-bottom-color:#212428;
  border-bottom-width:2px;
}
.offer-bundle__item-modal .included_product{
  grid-template-columns:50px 1fr;
  font-size:16px;
}
.offer-bundle__item-modal .included_product p{
  flex-grow:1;
}
.offer-bundle__item-modal .how-to-use-text{
  padding-bottom:10px;
  font-size:16px;
}
.offer-bundle__item-modal .how-to-use-text p:not(:last-child),.offer-bundle__item-modal .how-to-use-text ul:not(:last-child){
  margin-bottom:15px;
}
.offer-bundle__item-modal .how-to-use-text ul{
  padding-left:24px;
}
.offer-bundle__item-modal .how-to-use-text ul li{
  padding-left:4px;
  list-style:disc;
}
.offer-bundle__item-modal .e-pill-badge{
  margin-bottom:15px;
  color:inherit;
}
.offer-bundle-slider .offer-bundle__content{
  display:flex;
  gap:60px;
  padding-left:16px;
}
.offer-bundle-slider .offer-bundle__name{
  flex:none;
  width:300px;
  border-radius:0;
}
.offer-bundle-slider .offer-bundle__name h3{
  margin-bottom:18px;
}
.offer-bundle-slider .offer-bundle__slider{
  flex-grow:1;
  min-width:0;
}
@media screen and (min-width:768px){
  .offer-bundle-slider .offer-bundle__slider .c-swiper{
    margin-right:0;
    margin-left:0;
    padding-left:0;
  }
}
@media screen and (min-width:1200px){
  .offer-bundle-slider .offer-bundle__name{
    margin-left:max(0px, (100% - 1172px) / 2 + 8px);
  }
}
@media screen and (min-width:1400px){
  .offer-bundle-slider .offer-bundle__name{
    margin-left:max(0px, (100% - 1232px) / 2 + 8px);
  }
}
@media screen and (max-width:991px){
  .offer-bundle-slider .offer-bundle__content{
    flex-direction:column;
    gap:20px;
    padding-right:16px;
  }
  .offer-bundle-slider .offer-bundle__name{
    width:100%;
  }
}
@media screen and (max-width:767px){
  .e-pay-options{
    font-size:12px;
  }
  .c-bundle-card__discount{
    top:4px;
    right:6px;
    font-size:12px;
  }
  .c-bundle-card__content{
    padding:12px;
  }
  .c-bundle-card__details{
    gap:4px;
    margin-bottom:16px;
  }
  .c-bundle-card__rating{
    gap:6px;
    font-size:12px;
  }
  .c-bundle-card__name{
    font-size:16px;
  }
  .c-bundle-card__price{
    font-size:14px;
  }
  .c-bundle-card__button .btn{
    padding-top:7px;
    padding-bottom:7px;
    font-size:14px;
  }
  .c-dialog__content,.c-dialog__message{
    padding-right:16px;
    padding-left:16px;
  }
  .offer-bundle{
    padding-bottom:40px;
  }
  .offer-bundle__content{
    grid-template-columns:repeat(2, 1fr);
    gap:16px;
  }
  .offer-bundle__category h3{
    font-size:22px;
  }
  .offer-bundle-slider{
    padding-top:40px;
  }
}
