@use "@root/mixins" as *;
@use "@components/c-trusted-review-card" as *;

.trusted-reviews {
    $root: &;

    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f7;

    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    h2 {
        margin-bottom: 36px;
        text-align: center;

        @include md {
            margin-bottom: 20px;
        }
    }
}
