@use "@root/mixins" as *;
@use "@components/c-product-components" as *;

.why-it-works {
    $root: &;

    .container {
        display: flex;
        flex-direction: column;
        gap: 40px;
        justify-content: center;
        text-align: center;

        @include sm {
            gap: 24px;
        }
    }

    h2 {
        margin-bottom: 32px;

        @include sm {
            margin-bottom: 16px;
        }
    }

    // .why-it-works__main
    &__main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
        text-align: left;

        @include md {
            grid-template-columns: auto;
            gap: 0;
        }
    }

    &__according {
        .c-accordion__item {
            font-size: 18px;

            .e-icon {
                font-size: 24px;
            }
        }
    }

    &__components {
        @include sm {
            order: -1;
        }
    }
}
