@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@elements/e-sticky-thumb-video" as *;
@use "@components/c-rating" as *;
@use "@components/c-special-offer" as *;
@use "@components/c-marked-list" as *;
@use "@components/c-buy-block" as *;
@use "@components/c-next-batch" as *;
@use "@components/c-swiper" as *;
@use "@components/c-accordion" as *;
@use "@components/c-jump-to" as *;
@use "@components/c-options-selector" as *;
@use "@components/c-subscribe-selector" as *;
@use "@components/c-limited-offer" as *;
@use "@components/c-save-up" as *;
@use "@components/c-exclusive-offer" as *;
@use "@components/c-modal" as *;
@use "@components/c-clinic-metrics" as *;
@use "@components/c-moneyback" as *;

.hero-product {
    $root: &;

    // .hero-product__container
    &__container {
        display: grid;
        grid-template: auto 1fr / repeat(2, 1fr);
        gap: 40px 60px;

        @include sm {
            grid-template: auto / auto;
            gap: 24px;
        }
    }

    // .hero-product__main
    &__main {
        display: flex;
        flex-direction: column;
        grid-row: 1 / -1;
        gap: 32px;

        @include sm {
            grid-row: auto;
        }

        .c-rating {
            align-self: flex-start;
        }

        & > p {
            &:first-of-type {
                font-size: 16px;
                text-transform: uppercase;
            }
        }

        h1 {
            margin-bottom: -5px;
        }

        & > .e-price {
            font-size: 22px;
            font-weight: 500;
        }

        article {
            max-width: 500px;

            p {
                margin-bottom: 1.5rem;
            }

            ul {
                @include c-marked-list;
                gap: 16px;
            }
        }

        hr {
            max-width: 500px;
            margin: 0;
        }

        .e-features-list {
            @include sm {
                display: none;
            }
        }

        & > picture {
            width: 350px;

            @include sm {
                // width: 100%;
            }

            &[data-video-id],
            &[data-url] {
                @include play;
                cursor: pointer;

                img {
                    border-radius: 10px;
                }

                @include sm {
                    width: 100%;
                }

            }

            &[data-label-text] {
                &::before {
                    position: absolute;
                    bottom: 22px;
                    left: 20px;
                    color: #fff;
                    font-weight: 500;
                    content: attr(data-label-text);
                }

                &::after {
                    inset: auto 20px 10px auto;
                    font-size: 35px;
                    transform: none;
                }
            }

            img {
                width: 100%;
                height: auto;
                vertical-align: top;
                border-radius: 10px;
            }
        }
    }

    // .hero-product__gallery
    &__gallery {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 24px;
        min-width: 0;

        @include sm {
            gap: 12px;
        }

        .c-swiper {
            margin: 0;
            padding: 0;

            &:first-child {
                border-radius: 10px;
            }
        }

        .c-swiper-thumbs-nav {
            align-self: center;
            max-width: 518px;

            @include lg {
                max-width: 354px;
            }

            @include sm {
                max-width: 324px;
            }

            .swiper-slide {
                width: 70px;

                @include sm {
                    width: 60px;
                }

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }

    // .hero-product__extra
    &__extra {
        display: flex;
        flex-direction: column;
        gap: 40px;
        min-width: 0;

        @include sm {
            gap: 24px;
        }

        .c-accordion__summary {
            min-height: 56px;
        }
    }

    // .hero-product__best-with
    &__best-with {
        h6 {
            margin-bottom: 16px;
            font-family: inherit;
            font-weight: normal;
        }

        .c-swiper {
            @media screen and (min-width: 768px) {
                margin: 0;
                padding: 0;
            }
        }

        .swiper-slide {
            display: grid;
            grid-template: 1fr auto / 80px 1fr;
            gap: 10px 12px;
            align-items: center;
            overflow: hidden;
            padding: 24px 12px;
            border-radius: 10px;
            background: #f6f6f7;

            a {
                align-self: start;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }
            }

            img {
                grid-row: 1 / -1;
            }

            .btn {
                --btn-sm-padding: 7px 20px;
            }
        }

    }
}
