.hero-banner img{
  display:block;
  width:100%;
  height:auto;
}
.hero-banner--holidays{
  position:relative;
  z-index:1;
  background:#b4b5b6;
}
.hero-banner--holidays picture{
  position:absolute;
  inset:0;
  z-index:-1;
}
.hero-banner--holidays picture img{
  display:block;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
  height:100%;
}
.hero-banner--holidays article{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:min(450px, 70%);
  height:235px;
}
.hero-banner--holidays article h2{
  margin-bottom:12px;
  color:inherit;
}
.hero-banner--holidays article p{
  line-height:1.2;
}
@media screen and (max-width:767px){
  .hero-banner--holidays picture img{
    -o-object-fit:contain;
       object-fit:contain;
    -o-object-position:0 0;
       object-position:0 0;
  }
  .hero-banner--holidays article{
    height:170px;
    margin-left:auto;
    color:#fff;
  }
  .hero-banner--holidays article h2{
    margin-bottom:8px;
  }
  .hero-banner--holidays article p{
    font-size:14px;
  }
}
