@use "@root/mixins" as *;

.hero-banner {
    img {
        display: block;
        width: 100%;
        height: auto;
    }

    // .hero-banner--holidays
    &--holidays {
        position: relative;
        z-index: 1;
        background: #b4b5b6;

        picture {
            position: absolute;
            inset: 0;
            z-index: -1;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;

                @include sm {
                    object-fit: contain;
                    object-position: 0 0;
                }
            }
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: min(450px, 70%);
            height: 235px;

            @include sm {
                height: 170px;
                margin-left: auto;
                color: #fff;
            }

            h2 {
                margin-bottom: 12px;
                color: inherit;

                @include sm {
                    margin-bottom: 8px;
                }
            }

            p {
                line-height: 1.2;

                @include sm {
                    font-size: 14px;
                }
            }
        }
    }
}
