@use "@root/mixins" as *;

.c-clinic-metrics {
    position: relative;
    display: flex;
    gap: 12px;
    max-width: 500px;
    margin-top: 30px;
    padding: 24px;
    border: 1px solid #dfe0e0;
    border-radius: 10px;

    @include sm {
        flex-direction: column;
        gap: 24px;
    }

    &::before {
        position: absolute;
        bottom: 100%;
        left: 14px;
        margin-bottom: 1px;
        padding: 4px 16px;
        font-size: 16px;
        border-radius: 10px 10px 0 0;
        background: #f6f6f7;
        content: attr(data-label);
    }

    li {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 145px;

        @include sm {
            flex-direction: row;
            gap: 12px;
            align-items: center;
            max-width: none;
        }

        &::before {
            color: #91baec;
            font-size: 40px;
            font-weight: 500;
            line-height: 1;
            content: attr(data-value);
        }
    }
}
