@use "@root/mixins" as *;

.c-jump-to {
    // .c-jump-to__title
    &__title {
        margin-bottom: 8px;
        font-family: inherit;
        font-weight: inherit;
    }

    // .c-jump-to__buttons
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        a {
            display: flex;
            gap: 8px;
            align-items: center;
            justify-content: center;
            padding: 4px 24px;
            color: inherit;
            font-size: 16px;
            border: 1px solid #8b8c8e;
            border-radius: 50px;

            &:hover {
                background: hsl(from #8b8c8e h s l / 20%);
            }
        }
    }
}
