@use "@root/mixins" as *;

.c-moneyback {
    $root: &;

    display: grid;
    grid-template: repeat(2, auto) / 80px auto;
    gap: 0 24px;
    align-items: center;
    max-width: 500px;
    padding: 28px 24px;
    border-radius: 10px;
    background: #f6f6f7;

    @include sm {
        gap: 0 16px;
        margin-top: 8px;
        padding: 22px 16px;
        font-size: 16px;
    }

    img {
        grid-row: 1 / -1;
        max-width: 100%;
        height: auto;
    }

    p {
        font-size: 16px;
        line-height: 1.25;

        @include sm {
            font-size: 14px;
        }
    }
}
