@use "@root/mixins" as *;
@use "@elements/e-component-pointer" as *;

.c-product-components {
    position: relative;

    img {
        @include img-fluid;
    }

    // POINTERS OPTIONS

    // Faucet filter
    .e-component-pointer {
        &:has([href="#carbon-fiber"]) {
            --top: 20%;
            --left: 13%;
            --line-size: 310px;

            @include lg {
                --line-size: 290px;
            }

            @include md {
                --line-size: 55vw;
            }
        }

        &:has([href="#pp-filter"]) {
            --top: 3%;
            --left: -1%;
            --line-size: 30px;
        }

        &:has([href="#nok-filter"]) {
            --top: 45%;
            --left: 48%;
            --line-size: 110px;

            @include lg {
                --line-size: 100px;
            }

            @include md {
                --line-size: 22vw;
            }
        }

        &:has([href="#asp-descaler"]) {
            --top: 75%;
            --left: 2.5%;
            --line-size: 30px;

            @include md {
                --left: 1%;
                --line-size: 20px;
            }
        }
    }
}
