@use "@root/mixins" as *;
@use "@elements/e-rating-stars" as *;

.c-rating {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 0.885em;
    line-height: 1;

    .e-rating-stars {
        font-size: 20px;
    }

    small {
        vertical-align: top;
    }

    a {
        color: inherit;
        vertical-align: top;

        &:hover {
            text-decoration: underline;
        }
    }


    // .c-rating--bg
    &--bg {
        padding: 8px 12px;
        border-radius: 5px;
        background: #f6f6f7;
    }
}
