@use "@root/mixins" as *;
@use "@elements/e-pill-save" as *;
@use "@elements/e-price" as *;

.c-subscribe-selector {
    $root: &;

    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 500px;

    // .c-subscribe-selector__title
    &__title {
        margin-bottom: 0;
    }

    // .c-subscribe-selector__list
    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    // .c-subscribe-selector__item
    &__item {
        width: 100%;
    }

    // .c-subscribe-selector__label
    &__label {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 4px 10px;
        width: 100%;
        padding: 12px 14px;
        border: 2px solid transparent;
        border-radius: 10px;
        outline: 1px solid #dfe0e0;
        cursor: pointer;

        input {
            position: absolute;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
        }

        &:has(input:checked) {
            border-color: currentcolor;
            outline: none;
        }

        &:has(input:not(:checked)) {
            .e-pill-save {
                color: inherit;
                font-weight: 500;
                background: #f6f6f7;
            }

            #{$root}__text,
            #{$root}__tag,
            .e-price__old {
                display: none;
            }

            .highlight-price {
                color: inherit;
            }
        }
    }

    // .c-subscribe-selector__name
    &__name {
        display: flex;
        gap: 6px;
        align-items: center;

        .e-pill-save {
            font-size: 14px;
        }
    }

    // .c-subscribe-selector__price
    &__price {
        margin-left: auto;

        .e-price {
            font-size: 18px;
            font-weight: normal;
        }

        .e-price__main {
            flex-direction: row-reverse;
        }
    }

    // .c-subscribe-selector__text
    &__text {
        grid-column: 1 / -1;
        font-size: 16px;
        line-height: 1.25;

        del {
            color: #8b8c8e;
        }

        small {
            display: block;
            margin-top: 4px;
            font-size: 14px;
        }

        a {
            color: inherit;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    // .c-subscribe-selector__tag
    &__tag {
        position: absolute;
        right: 18px;
        bottom: 100%;
        display: flex;
        gap: 4px;
        align-items: center;
        margin-bottom: 2px;
        padding: 2px 20px;
        color: #fff;
        font-size: 14px;
        line-height: 1.25;
        border-radius: 10px 10px 0 0;
        background: #212428;

        .e-icon {
            font-size: 10px;
            vertical-align: top;
        }
    }
}
