@use "@root/mixins" as *;
@use "@components/c-pill-tabs" as *;
@use "@components/c-lifetime-warranty" as *;

.product-settings {
    $root: &;

    padding-top: 60px;
    padding-bottom: 60px;
    background: #f6f6f7;

    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .container {
        display: grid;
        grid-template: repeat(2, auto) / 1fr min(540px, 50%);
        gap: 0 60px;
        align-items: center;

        @include md {
            gap: 40px;
        }

        @include sm {
            grid-template-columns: auto;
            gap: 24px;
        }
    }

    h2 {
        margin-bottom: 15px;
    }

    .c-lifetime-warranty {
        @include sm {
            order: 2;
        }
    }

    .c-pill-tabs {
        grid-row: 1 / -1;
        grid-column: 2;
        max-width: 315px;
        margin-right: auto;
        margin-left: auto;

        @include sm {
            grid-area: auto;
            grid-column: 1;
        }

        h6 {
            @include sm {
                display: none;
            }
        }
    }

    .e-pill-tabs {
        li {
            button.active {
                background: #91baec;
            }
        }
    }
}
