.e-pill-tabs{
  display:flex;
  gap:8px;
  align-items:center;
  justify-content:center;
  padding:7px 11px;
  border:1px solid #8b8c8e;
  border-radius:100px;
}
.e-pill-tabs li{
  flex-grow:1;
}
.e-pill-tabs button{
  width:100%;
  padding:7px 16px;
  color:#b5b6b7;
  font-size:18px;
  border:0;
  border-radius:100px;
  background:none;
  transition:all .2s linear;
}
.e-pill-tabs button:hover{
  color:#212428;
  background-color:#eee;
}
.e-pill-tabs button.active{
  color:#212428;
  background-color:#c7e5db;
  pointer-events:none;
}

.c-pill-tabs{
  display:flex;
  flex-direction:column;
  gap:32px;
  align-items:center;
}
.c-pill-tabs h6{
  margin-bottom:-10px;
  font-family:inherit;
  font-weight:500;
}
.c-pill-tabs__buttons{
  min-width:210px;
}
.c-pill-tabs__pane{
  transition:opacity .6s linear;
}
.c-pill-tabs__pane:not(.show){
  position:absolute;
  left:-300vw;
  z-index:-10;
  visibility:hidden;
  opacity:0;
}
.c-pill-tabs__pane img{
  display:block;
  max-width:100%;
  height:auto;
}

.e-icon{
  display:inline-block;
  line-height:1;
}
.e-icon:before{
  font-family:icomoon;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  line-height:1;
  text-transform:none;
  vertical-align:top;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  speak:never;
}

.e-icon-chevron:before{
  content:"\e900";
}

.e-icon-checkmark:before{
  content:"\e901";
}

.e-icon-plus:before{
  content:"\e903";
}

.e-icon-minus:before{
  content:"\e902";
}

.e-icon-cross:before{
  content:"\e904";
}

.e-icon-arrow:before{
  content:"\e905";
}

.e-icon-qure:before{
  content:"\e906";
}

.e-icon-q:before{
  content:"\e907";
}

.e-icon-youtube:before{
  content:"\e90b";
}

.e-icon-instagram:before{
  content:"\e90a";
}

.e-icon-facebook:before{
  content:"\e909";
}

.e-icon-tiktok:before{
  content:"\e908";
}

.e-icon-i:before{
  content:"\e90c";
}

.e-icon-play:before{
  content:"\e90d";
}

.e-icon-stars:before{
  content:"\e920";
}

.e-icon-rating-fill:before{
  content:"\e921";
}

.e-icon-trustpilot:before{
  content:"\e922";
}

.e-icon-pm:before{
  content:"\e923";
}

.e-icon-am:before{
  content:"\e924";
}

.e-icon-watch:before{
  content:"\e925";
}

.e-icon-cart:before{
  content:"\e926";
}

.e-icon-user:before{
  content:"\e927";
}

.e-icon-gift:before{
  content:"\e928";
}

.e-icon-shipping:before{
  content:"\e92b";
}

.e-icon-faq:before{
  content:"\e92a";
}

.e-icon-letter:before{
  content:"\e929";
}

.e-icon-pillow:before{
  content:"\e92c";
}

.e-icon-patches:before{
  content:"\e92d";
}

.e-icon-mist:before{
  content:"\e92e";
}

.e-icon-lock:before{
  content:"\e92f";
}

.e-icon-guarantee:before{
  content:"\e930";
}

.e-icon-top:before{
  content:"\e931";
}

.e-icon-proven:before{
  content:"\e932";
}

.e-icon-pay-later:before{
  content:"\e933";
}

.e-icon-reviewed:before{
  content:"\e934";
}

.e-icon-verified-shield:before{
  content:"\e93b";
}

.e-icon-shipping-order:before{
  content:"\e90e";
}

.e-icon-shipping-order-hvr:before{
  content:"\e90f";
}

.e-icon-rejuvalight-pro-facewear:before{
  content:"\e911";
}

.e-icon-rejuvalight-pro-facewear-hvr:before{
  content:"\e910";
}

.e-icon-micro-infusion-system:before{
  content:"\e913";
}

.e-icon-micro-infusion-system-hvr:before{
  content:"\e912";
}

.e-icon-renew-lllt-helmet:before{
  content:"\e915";
}

.e-icon-renew-lllt-helmet-hvr:before{
  content:"\e914";
}

.e-icon-returns-exchanges:before{
  content:"\e917";
}

.e-icon-returns-exchanges-hvr:before{
  content:"\e916";
}

.e-icon-billing-payment:before{
  content:"\e919";
}

.e-icon-billing-payment-hvr:before{
  content:"\e918";
}

.e-icon-warranty:before{
  content:"\e91b";
}

.e-icon-warranty-hvr:before{
  content:"\e91a";
}

.e-icon-qure-app:before{
  content:"\e91d";
}

.e-icon-qure-app-hvr:before{
  content:"\e91c";
}

.e-icon-troubleshooting:before{
  content:"\e91f";
}

.e-icon-troubleshooting-hvr:before{
  content:"\e91e";
}

.e-icon-chlorine:before{
  content:"\e935";
}

.e-icon-copper:before{
  content:"\e936";
}

.e-icon-heavy-metals:before{
  content:"\e937";
}

.e-icon-limescale:before{
  content:"\e938";
}

.e-icon-micro-organisms:before{
  content:"\e939";
}

.e-icon-micro-plastics:before{
  content:"\e93a";
}

.e-icon-benefits-headphone:before{
  content:"\e940";
}

.e-icon-benefits-gift:before{
  content:"\e941";
}

.e-icon-benefits-restart:before{
  content:"\e942";
}

.e-icon-benefits-box:before{
  content:"\e943";
}

.e-icon-pp-filter:before{
  content:"\e93f";
}

.e-icon-nok-filter:before{
  content:"\e93e";
}

.e-icon-carbon:before{
  content:"\e93d";
}

.e-icon-asp-descaler:before{
  content:"\e93c";
}

.c-lifetime-warranty{
  display:flex;
  gap:12px;
  align-items:center;
  font-size:16px;
}
.c-lifetime-warranty .e-icon{
  flex:none;
  padding:6px;
  color:#ff5429;
  font-size:24px;
  line-height:1;
  text-align:center;
  border:5px solid transparent;
  border-radius:50%;
  outline:1px solid #b5b6b7;
  background:#fff;
  background-clip:padding-box;
}
.c-lifetime-warranty p:first-line{
  font-weight:500;
}

.product-settings{
  padding-top:60px;
  padding-bottom:60px;
  background:#f6f6f7;
}
.product-settings .container{
  display:grid;
  grid-template:repeat(2, auto)/1fr min(540px, 50%);
  gap:0 60px;
  align-items:center;
}
.product-settings h2{
  margin-bottom:15px;
}
.product-settings .c-pill-tabs{
  grid-row:1 /  -1;
  grid-column:2;
  max-width:315px;
  margin-right:auto;
  margin-left:auto;
}
.product-settings .e-pill-tabs li button.active{
  background:#91baec;
}
@media screen and (max-width:991px){
  .product-settings .container{
    gap:40px;
  }
}
@media screen and (max-width:767px){
  .c-pill-tabs{
    gap:20px;
  }
  .c-pill-tabs__buttons{
    min-width:0;
  }
  .c-lifetime-warranty{
    flex-direction:column;
    text-align:center;
  }
  .product-settings{
    padding-top:40px;
    padding-bottom:40px;
  }
  .product-settings .container{
    grid-template-columns:auto;
    gap:24px;
  }
  .product-settings .c-lifetime-warranty{
    order:2;
  }
  .product-settings .c-pill-tabs{
    grid-area:auto;
    grid-column:1;
  }
  .product-settings .c-pill-tabs h6{
    display:none;
  }
}
