.early-access-black-friday {
  padding-top: 0;
  padding-bottom: 0;
  background: #212428;
}
.early-access-black-friday img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.early-access-black-friday .custom__grid {
  --column-gap: 100px;
  margin-top: 0;
  margin-bottom: 0;
  align-items: center;
}
@media (max-width: 767px) {
  .early-access-black-friday .custom__block {
    padding-right: 0;
  }
}
.early-access-black-friday__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 991px) {
  .early-access-black-friday__content {
    gap: 16px;
  }
}
.early-access-black-friday__content h2 {
  color: inherit;
  font-size: 46px;
  line-height: 1.15;
}
@media (max-width: 991px) {
  .early-access-black-friday__content h2 {
    font-size: 32px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.early-access-black-friday__content img:first-child {
  max-width: 127px;
  height: auto;
}
@media (max-width: 991px) {
  .early-access-black-friday__content img:first-child {
    max-width: 84px;
  }
}
.early-access-black-friday__content img:not(:first-child) {
  display: none;
}
@media (max-width: 767px) {
  .early-access-black-friday__content img:not(:first-child) {
    display: block;
  }
}
.early-access-black-friday .early-access-form {
  width: 100%;
  margin-bottom: 16px;
  padding-right: 15px;
  padding-left: 15px;
}
.early-access-black-friday .early-access-form__label {
  margin-bottom: 10px;
  text-align: center;
}
.early-access-black-friday .early-access-form__content {
  position: relative;
  display: flex;
}
.early-access-black-friday .early-access-form__content .form-control {
  border-radius: 50px 0 0 50px;
  padding-left: 30px;
  border: none;
}
.early-access-black-friday .early-access-form__content .btn {
  background: #fff;
  color: #212428;
  border-radius: 0 50px 50px 0px;
  padding-right: 30px;
  font-size: 20px;
  border: none;
}
.early-access-black-friday .early-access-countdown__title {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .early-access-black-friday .early-access-countdown__title {
    margin-bottom: 10px;
  }
}
.early-access-black-friday .early-access-countdown__title svg {
  width: 20px;
  height: auto;
  stroke: #ffffff;
}
.early-access-black-friday .early-access-countdown__timer {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.early-access-black-friday .early-access-countdown__timer .countdown-segment {
  display: flex;
  flex-direction: column;
  line-height: 1;
}
.early-access-black-friday .early-access-countdown__timer .countdown-segment:not(:first-child) {
  border-left: 1px solid #ffffff;
  padding-left: 16px;
}
.early-access-black-friday .early-access-countdown__timer .countdown-segment span {
  color: #FF5429;
  font-size: 30px;
  font-weight: 600;
}
.early-access-black-friday .early-access-countdown__timer .countdown-segment small {
  font-size: 14px;
  text-transform: uppercase;
}

/*# sourceMappingURL=early-access-black-friday.css.map */
