@use "@root/mixins" as *;

.e-double-tag {
    display: inline-flex;
    gap: 16px;
    align-items: center;
    overflow: hidden;
    padding-right: 16px;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    background: hsl(from var(--e-double-tag-color, #ff5429) h s calc(l + 37));

    strong {
        padding: 4px 16px;
        color: #fff;
        background: var(--e-double-tag-color, #ff5429);
    }
}
