@use "@root/mixins" as *;
@use "@elements/e-declaimer" as *;
@use "@components/c-percent-list" as *;
@use "@components/c-pill-tabs" as *;


.progress-metrics {
    $root: &;

    .container {
        display: grid;
        grid-template: repeat(2, auto) / 1fr min(472px, 50%);
        gap: 20px 60px;

        @include md {
            column-gap: 40px;
        }

        @include sm {
            grid-template-rows: auto;
            grid-template-columns: auto;
        }
    }

    h2 {
        margin-bottom: 15px;
    }

    .c-pill-tabs {
        grid-row: 1 / -1;
        grid-column: 2;

        @include sm {
            grid-area: auto;
            grid-column: 1;
        }
    }

    .e-pill-tabs {
        li {
            &:first-child {
                button.active {
                    background: #dfe0e0;
                }
            }
        }
    }

    small {
        @include e-declaimer;
        margin-top: 20px;
    }
}
