.e-declaimer{
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
}

.e-circle-percent{
  position:relative;
  width:62px;
  height:62px;
  padding:6px;
  border-radius:100px;
  background:conic-gradient(#c7e5db 0deg calc(var(--percent-value) * 3.6deg), transparent calc(var(--percent-value) * 3.6deg) 1turn);
}
.e-circle-percent:before{
  position:absolute;
  inset:3px;
  z-index:-1;
  border:1px solid #8b8c8e;
  border-radius:100px;
  content:"";
}
.e-circle-percent span{
  display:flex;
  align-items:center;
  justify-content:center;
  width:50px;
  height:50px;
  font-size:20px;
  font-weight:500;
  border-radius:100px;
  background:#fff;
}

.c-percent-list{
  display:flex;
  flex-direction:column;
  gap:18px;
}
.c-percent-list li{
  display:flex;
  gap:12px;
  align-items:center;
}
.c-percent-list+p{
  margin-top:18px;
  color:#8b8c8e;
  font-size:16px;
}

.e-pill-tabs{
  display:flex;
  gap:8px;
  align-items:center;
  justify-content:center;
  padding:7px 11px;
  border:1px solid #8b8c8e;
  border-radius:100px;
}
.e-pill-tabs li{
  flex-grow:1;
}
.e-pill-tabs button{
  width:100%;
  padding:7px 16px;
  color:#b5b6b7;
  font-size:18px;
  border:0;
  border-radius:100px;
  background:none;
  transition:all .2s linear;
}
.e-pill-tabs button:hover{
  color:#212428;
  background-color:#eee;
}
.e-pill-tabs button.active{
  color:#212428;
  background-color:#c7e5db;
  pointer-events:none;
}

.c-pill-tabs{
  display:flex;
  flex-direction:column;
  gap:32px;
  align-items:center;
}
.c-pill-tabs h6{
  margin-bottom:-10px;
  font-family:inherit;
  font-weight:500;
}
.c-pill-tabs__buttons{
  min-width:210px;
}
.c-pill-tabs__pane{
  transition:opacity .6s linear;
}
.c-pill-tabs__pane:not(.show){
  position:absolute;
  left:-300vw;
  z-index:-10;
  visibility:hidden;
  opacity:0;
}
.c-pill-tabs__pane img{
  display:block;
  max-width:100%;
  height:auto;
}

.progress-metrics .container{
  display:grid;
  grid-template:repeat(2, auto)/1fr min(472px, 50%);
  gap:20px 60px;
}
.progress-metrics h2{
  margin-bottom:15px;
}
.progress-metrics .c-pill-tabs{
  grid-row:1 /  -1;
  grid-column:2;
}
.progress-metrics .e-pill-tabs li:first-child button.active{
  background:#dfe0e0;
}
.progress-metrics small{
  display:block;
  color:#8b8c8e;
  font-size:16px;
  line-height:1.25;
  margin-top:20px;
}
@media screen and (max-width:991px){
  .progress-metrics .container{
    -moz-column-gap:40px;
         column-gap:40px;
  }
}
@media screen and (max-width:767px){
  .e-declaimer{
    font-size:14px;
  }
  .c-percent-list+p{
    margin-top:12px;
    text-align:center;
  }
  .c-pill-tabs{
    gap:20px;
  }
  .c-pill-tabs__buttons{
    min-width:0;
  }
  .progress-metrics .container{
    grid-template-rows:auto;
    grid-template-columns:auto;
  }
  .progress-metrics .c-pill-tabs{
    grid-area:auto;
    grid-column:1;
  }
  .progress-metrics small{
    font-size:14px;
  }
}
