/* stylelint-disable */

@use "@root/mixins" as *;
@use "@elements/e-icon" as *;
@use "@elements/e-quantity" as *;


.collection_block .hide {
  display: none};
.collection_block .show {
   display: block;
}
.collection_block .filters .filter.active {
    background: #212428;
    color: #fff;
}
.collection_block .filters {
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 5px;
}
.collection_block .filter {
    border-radius: 50px;
    border: 1px solid #212428;
    padding: 6px 24px;
    font-size: 16px;
    line-height: 20px;
    transition: all .2s ease-in;
    width: max-content;
    background-color: #fff;
    color: #212428;
}
.collection_block .filter:hover {
  cursor: pointer;
}

.collection_block .qure_tabs {
    overflow-x: auto;
    overflow-y: hidden;
}
.collection_block .pd_review-inner {
    text-align: center;
    padding: 25px 12px;
}
.pd_review-card{
border-radius: 10px;
    border: 1px solid #DFE0E0;
    height: 100%;
    color: var(--bs-body-color);
}
.collection_block .pd_review-inner p{
    font-size: 16px;
    line-height: 20px;
}
.collection_block .qure_tabs::-webkit-scrollbar {
    display: none;
}
.qure__product-img img{
    width:100%;
    height: 100%;
}
.qure__product-img .qure__product-hover-img {
    opacity: 0;
    transition: .5s;
}
.qure__product-item:hover .qure__product-hover-img {
    opacity: 1;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
}
.qure__product-name,.qure__product-name a {
    color: var(--qure__product-name-color, #212428);
    font-size: var(--qure__product-name-size, 18px);
    font-weight: var(--qure__product-name-weight, 600);
    min-height: 45px;
}
.qure__product-item:hover .qure__product-name a {
    color: var(--color-ice);
    text-decoration: underline;
}
.qure__product-item.silver-badge {
    position: relative;
}
/*
.qure__product-item.silver-badge:after {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    width: 60px;
    height: 60px;
    background: url(../top-products/images/silver-badge.webp) 0 0 no-repeat;
    background-size: 60px 60px;
    content: '';
}
*/
@media(max-width:413px){
    .qure__product-item.silver-badge .badge-bestseller {
        display: none;
    }
}
.qure__product-reviews {
    padding: 0px 0 10px;
}
.qure__product-main-img {
    height: 100%;
}
.qure__product-item a{
    border-radius: 10px;
}
@media(min-width:768px){
    .qure__product-main-img img {
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10px;
        display: block;
}
.collection_block .qure__product-details{
    padding: 15px 0 15px;
}
}
@media(max-width:767px){
    .collection_block .qure__product-reviews img {
    max-width: 80px;
 }
 .collection_block a.btn {
    display: none;
 }
 .collection_block .pd_review-inner {
    padding: 10px 8px;
}
.collection_block .pd_review-inner p{
    font-size: 14px;
}
.collection_block .qure__product-action-inner{
    display: none;
}
}

@media(max-width:575px){
    .qure__product-reviews {
    padding: 5px 0 5px;
}
}

.qure__product-price {
    display: flex;
    gap: 4px;
}
.qure__product-price .bef_price {
    color: #8b8c8e;
}
.qure__product-price .dis_red_line {
    position: relative;
    display: flex;
    gap: 6px;
}
.qure__product-price .dis_red_line:after {
    position: absolute;
    top: 10px;
    right: -3px;
    left: -3px;
    z-index: 1;
    height: 2px;
    background: #ff4e22;
    content: '';
    transform: rotate(7deg);
}
.qure__product-price .black_friday_price {
    margin-left: 8px;
    font-weight: 600;
}

// Styles for page.build-your-own

body[class="page.build-your-own"] {
    overflow: visible;

    .collection_block {
        .qure_tabs_wrap {
            position: sticky;
            top: calc(var(--height-bar) + var(--height-header));
            right: 0;
            left: 0;
            background: #fff;
            z-index: 3;
            margin-bottom: 50px;

            @include sm {
                border-bottom: 1px solid #dfe0e0;
            }
        }

        // border: 1px solid red;
        .filters {
            gap: 0;
            padding-bottom: 0;

            li a {
                display: block;
                padding: 16px;
                border: 0;
                color: inherit;
                white-space: nowrap;
                border-bottom: 2px solid transparent;
                font-size: 18px;
                border-radius: 0;
                background: none;

                @include sm {
                    padding: 12px;
                    font-size: 16px;
                }

                &.active {
                    color: inherit;
                    border-bottom-color: inherit;
                }
            }
        }

        .qure__product-action-inner {
            position: relative;

            @include sm {
                display: block;
            }

            input[name="added_in_cart"] {
                position: absolute;
                z-index: -1;
                opacity: 0;
                visibility: hidden;
            }

            .e-quantity {
                display: none;
            }

            &:has(input[name="added_in_cart"]:checked) {
                .add-cart-button {
                    display: none;
                }

                .e-quantity {
                    display: flex;
                }
            }
        }

        .qure__product-details {
            padding: 15px 0;
        }

        .projects {
            position: relative;
            padding-top: 30px;

            &:not(:last-child) {
                margin-bottom: 40px;
            }

            &:before {
                position: absolute;
                top: -12px;
                left: 0;
                z-index: 2;
                padding: 0 16px;
                background: #fff;
                content: attr(data-label);

                @include lg {
                    padding: 0 10px;
                }
            }

            &:after {
                position: absolute;
                top: 0;
                right: 16px;
                left: 0;
                height: 1px;
                background: #dfe0e0;
                z-index: 1;
                content: '';

                @include lg {
                    right: 10px;
                }
            }

            .add-cart-button {
                --btn-primary-bg: #f6f6f7;

                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: center;
                border: 0;
                color: inherit;


                .e-icon {
                    padding: 2px;
                    font-size: 8px;
                    border: 2px solid #000;
                    border-radius: 50%;
                    -webkit-text-stroke: 1px;
                    vertical-align: top;
                }
            }

            .select-color {
                display: flex;
                align-items: center;
                gap: 3px;
                margin-bottom: 20px;

                &::before {
                    margin-right: 3px;
                    font-size: 16px;
                    content: attr(data-text);
                }

                label {
                    position: relative;
                    width: 30px;
                    height: 30px;
                    border: 1px solid #f6f6f7;
                    border-radius: 50%;
                    cursor: pointer;

                    input {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:has(input[value="light"]) {
                        background: #fff;
                    }

                    &:has(input[value="silver"]) {
                        background: linear-gradient(120deg, #e2e2e2 16%, #999a9a 50%, #e2e2e2 80%);
                    }

                    &:has(input[value="dark"]) {
                        background: #212428;
                    }

                    &:has(input:checked) {
                        border-color: #8b8c8e;
                    }
                }


            }

        }
    }
}

