@use "@root/mixins" as *;
// @use "@components/c-product-components" as *;

.set-up {
    $root: &;

    .container {
        display: grid;
        grid-template: repeat(2, auto) / 280px 1fr;
        gap: 30px 60px;

        @include md {
            gap: 24px;
        }

        @include sm {
            grid-template: auto / auto;
        }
    }

    img {
        width: 100%;
        @include img-fluid;
        vertical-align: top;
    }

    picture[data-video-id] {
        grid-row: 1 / -1;
        @include play;

        @include sm {
            grid-row: auto;
        }

        img {
            border-radius: 10px;
        }
    }

    h2 {
        align-self: end;
        margin-bottom: 0;
        // margin-bottom: 32px;

        @include sm {
            order: -1;
            // margin-bottom: 16px;
        }
    }

    ol {
        display: flex;
        gap: 40px;
        counter-reset: item;

        @include md {
            gap: 24px;
        }

        @include sm {
            flex-direction: column;
        }

        li {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 18px;
            width: 100%;
            counter-increment: item;

            @include sm {
                display: grid;
                grid-template: repeat(2, auto) / 100px 1fr;
                gap: 12px 16px;
            }

            &::before {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 30px;
                height: 30px;
                line-height: 30px;
                text-align: center;
                border-radius: 30px;
                background: #fff;
                content: counters(item, "");
            }
        }

        h6 {
            margin-bottom: 0;
            font-family: inherit;
            font-weight: 500;
        }

        picture {
            @include sm {
                grid-row: 1 / -1;
            }
        }

        img {
            border-radius: 5px;
        }
    }
}
